/* IST SECTION */

@media screen and (min-width: 1090px) {
  .top {
    margin-left: 18rem;
  }
}
@media screen and (max-width: 960px) {
  .top {
    padding: 12px;
    font-size: large;
  }
  .name2 {
    font-size: 1rem;
    font-style: oblique;
  }
}

@media screen and (max-width: 460px) {
  .top {
    padding: 7px;
    font-size: medium;
    margin: 7vh auto auto auto;
  }
  .name2 {
    font-size: 0.9rem;
    font-style: oblique;
  }
}
/* MEDIA QUERY END */

/* INPUT SECTION */

@media screen and (min-width: 1400px) {
  .guess_placeholder {
    left: 22.5rem;
    top: 18rem;
    padding-top: 2rem;
  }
}
@media screen and (max-width: 1400px) {
  .guess_placeholder {
    top: 18.2rem;
    left: 22.4rem;
  }
}
@media screen and (max-width: 1090px) {
  .guess_placeholder {
    top: 18.3rem;
    left: 14rem;
  }
}
@media screen and (max-width: 1000px) {
  .guess_placeholder {
    top: 18.3rem;
    left: 14rem;
  }

  .guess {
    width: 20rem;
  }
}

@media screen and (max-width: 986px) {
  .guess_placeholder {
    top: 19.2rem;
  }
}

@media screen and (max-width: 960px) {
  .guess_placeholder {
    top: 17.3rem;
    left: 10.5rem;
    font-size: 12px;
  }

  .guess {
    padding-left: 7rem;
  }
}

@media screen and (max-width: 720px) {
  .guess_placeholder {
    top: 17.2rem;
    left: 8rem;
    font-size: 12px;
  }

  .guess {
    width: 18rem;
  }
}

@media screen and (max-width: 580px) {
  .guess_placeholder {
    top: 17rem;
    left: 7rem;
    font-size: 12px;
  }

  .guess {
    width: 17rem;
  }
}
@media screen and (max-width: 524px) {
  .guess_placeholder {
    top: 19.7rem;
    left: 7rem;
    font-size: 12px;
  }

  .guess {
    width: 17rem;
  }
}
@media screen and (max-width: 460px) {
  .guess_placeholder {
    top: 20em;
    left: 6rem;
    font-size: 12px;
  }

  .guess {
    width: 15em;
    border-radius: 6px;
  }
}
/* MEDIA QUERY END */

/* BOX SECTION */

@media screen and (min-width: 1090px) {
  .container {
    margin-left: -1.8rem;
    max-width: 80px;
  }
}
@media screen and (max-width: 1090px) {
  .container {
    margin-left: -10.5rem;
    max-width: 80px;
  }
}
@media screen and (max-width: 960px) {
  .container {
    margin-left: -13.6rem;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 897px) {
  .container {
    margin-left: -14.3rem;
  }
  .box {
    width: 275px;
  }
  .box2 {
    width: 250.2px;
    left: 0.7rem;
    top: 1rem;
  }

  .circle2 {
    left: 37rem;
  }
  .name {
    font-size: x-large;
    font-weight: 900;
    width: 249.2px;
    left: 23.4rem;
    top: 2.1rem;
  }

  .btn1 {
    left: 41.2rem;
  }
  .btn2 {
    left: 41.2rem;
  }
}
@media screen and (max-width: 744px) {
  .container {
    margin-left: -15.3rem;
    max-width: 80px;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 715px) {
  .container {
    margin-left: -16rem;
    max-width: 80px;
    margin-top: 2rem;
  }
  .btn1 {
    left: 22.7rem;
    top: 11rem;
  }
  .btn2 {
    left: 33rem;
    top: 11rem;
  }
}
@media screen and (max-width: 620px) {
  .container {
    margin-left: -16.5rem;
    margin-top: 2rem;
  }
  .box {
    width: 275px;
  }

  .box2 {
    width: 250.2px;
    left: 0.7rem;
    top: 1rem;
  }

  .circle2 {
    left: 37rem;
  }

  .name {
    font-size: x-large;
    font-weight: 900;
    width: 249.2px;
    left: 23.4rem;
    top: 2.1rem;
  }

  .btn1 {
    left: 22.7rem;
    top: 11rem;
  }
  .btn2 {
    left: 33rem;
    top: 11rem;
  }
}

@media screen and (max-width: 520px) {
  .container {
    margin-left: -18rem;
  }
}

@media screen and (max-width: 460px) {
  .container {
    margin-left: -19rem;
  }
}
/* MEDIA QUERY END */

/* FOOTER */
@media screen and (max-width: 1200px) {
  .foot {
    margin-top: 16rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 650px) {
  .foot {
    margin-top: 50%;
  }
}
